<div class="row">
  <!-- col-3 (bên trái) -->
  <div class="col-3 container-1" style="background: black;padding: 20px">

    <div class="container-11" style="text-align: right"><i class="fa fa-align-justify" style="font-size:36px;color: white"></i></div>
    <img src="assets/hinhanh/logobootstrap.png" alt="" width="100%" height="150px">

    <div class="container-12">
        <p><i class="fa fa-home"></i>Home</p>
        <p><i class="material-icons">people</i>Employees</p>
        <p><i class="fa fa-folder"></i>Projects</p>
        <p><i class="fas fa-glass-martini-alt"></i>Skills</p>
        <p><i class="fab fa-gitkraken"></i>Interns</p>
        <p><i class="fas fa-medal"></i>Topics</p>
        <p><i class="fa fa-book"></i>Courses</p>
        <p><i class="fas fa-medal"></i>Topic_Course</p>
        <p><i class="fa fa-medkit"></i>Classes</p>
    </div>

  </div>

  <!-- col-8 (bên phải)-->
  <div class="col-9">

    <div style="text-align:right;" class="div_icon">
      <i class='fas fa-heart' style='font-size:24px'></i>
      <i class='far fa-comment' style='font-size:24px'></i>
      <i class='fas fa-certificate' style='font-size:24px'></i>
      <i class='fas fa-star' style='font-size:24px'></i>
      <i class='far fa-file' style='font-size:24px'></i>
    </div>


    <a href="#" style="display: inline-block">Home</a>/
    <a href="#">Skill</a>
    <div class="row">

      <div class="col-lg-4">
        Show <input type="number" value="10" id="number"> entries
      </div>

      <div class="col-lg-8">
        <div class="row ngunguoi">
          <div class="col-2"><button class="btn btn-danger xanhdam">Email</button></div>
          <div class="col-2"><button class="btn btn-danger xanhdam">PDF</button></div>
          <div class="col-4">
            <div class="container-1" style="width:50px;">
              <button class="icon"><i class="fa fa-search"></i></button>
              <input type="search" id="search" placeholder="Search..." />
            </div>
          </div>
          <div class="col-4">
            <button class="btn btn-danger xanhdam">
              <i class="fa fa-plus"></i> Add Employee
            </button>
          </div>
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Firstname</th>
          <th scope="col">Lastname</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">1</td>
          <td>Cong</td>
          <td>Ngo</td>
          <td>ntcong@tma.com.vn</td>
          <td class="action_icon">
            <i class="fa fa-info" aria-hidden="true"></i>
            <i class="fa fa-file"></i>
            <i class="fa fa-trash" aria-hidden="true" style="color:crimson"></i>

          </td>
        </tr>
        <tr>
          <td scope="row">2</td>
          <td>thuy</td>
          <td>thanh</td>
          <td>aa@gmail.com</td>
          <td class="action_icon">
            <i class="fa fa-info" aria-hidden="true"></i>
            <i class="fa fa-file"></i>
            <i class="fa fa-trash" aria-hidden="true" style="color:crimson"></i>

          </td>
        </tr>
        <tr>
          <td scope="row">3</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td class="action_icon">
            <i class="fa fa-info" aria-hidden="true"></i>
            <i class="fa fa-file"></i>
            <i class="fa fa-trash" aria-hidden="true" style="color:crimson"></i>

          </td>
        </tr>
        <tr>
          <td scope="row">4</td>
          <td>Qui</td>
          <td>Tran</td>
          <td>quitran@gmail.com</td>
          <td class="action_icon">
            <i class="fa fa-info" aria-hidden="true"></i>
            <i class="fa fa-file"></i>
            <i class="fa fa-trash" aria-hidden="true" style="color:crimson"></i>

          </td>
        </tr>
        <tr>
          <td scope="row">5</td>
          <td>nguyen</td>
          <td>Tran</td>
          <td>nguyentran@gmail.com</td>
          <td class="action_icon">
            <i class="fa fa-info" aria-hidden="true"></i>
            <i class="fa fa-file"></i>
            <i class="fa fa-trash" aria-hidden="true" style="color:crimson"></i>

          </td>
        </tr>

      </tbody>
    </table>
    <p style="font-size: 9px">SHOWING 1 to 5 of 5 Employees</p>
    <!-- danh sách trang ở cuối -->
    <div class="danhsach_sotrang" style="float: right">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&lsaquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link STT" href="#">1</a></li>


          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&rsaquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div><!-- END danhsach_sotrang -->
  </div><!-- END COL-8 -->

</div>