#navbarNav > ul > li {
margin:10px;

}

#navbarNav > ul > li :hover{

color:yellow
}
.navbar-brand:hover{
color:yellow;

}
body > app-root > div > app-lab3-home > div > div > div.col-3 > div:nth-child(3) > div > input[type=text]{
width:50px;
}

/* hiệu ứng chữ nhấp nháy */
@-webkit-keyframes thao {
0% { color: gold; }
50% { color: #fff; }
100% { color: gold; }
}
@-moz-keyframes thao {
0% { color: gold; }
50% { color: #fff; }
100% { color: gold; }
}
@-o-keyframes thao {
0% { color: gold; }
50% { color: #fff; }
100% { color: gold; }
}
@keyframes thao {
0% { color: gold; }
50% { color: #fff; }
100% { color: gold; }
}
.phat {
background:#007bff;
font-size:24px;
font-weight:bold;
-webkit-animation: thao 700ms infinite;
-moz-animation: thao 700ms infinite;
-o-animation: thao 700ms infinite;
animation: thao 700ms infinite;
}