<!-- biểu tượng xàm thôi : v -->
<span class="badge badge-pill badge-primary">Primary</span>
<span class="badge badge-pill badge-secondary">Secondary</span>
<span class="badge badge-pill badge-success">Success</span>
<span class="badge badge-pill badge-danger">Danger</span>
<span class="badge badge-pill badge-warning">Warning</span>
<span class="badge badge-pill badge-info">Info</span>
<span class="badge badge-pill badge-light">Light</span>
<span class="badge badge-pill badge-dark">Dark</span>
<br><br><br>


<!-- caroursel -->
<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="1000">
            <img src="https://images.squarespace-cdn.com/content/v1/53fc87c9e4b07706903344e7/1409325003538-1IANQW906YZ7T55VS1P9/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/image-asset.jpeg"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item " data-interval="1000">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7Rq5qoqT6Z8IWVsq2wIXe9DopdHMzdjk4Pqx3hu1ebMSqOgdjsQ"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="1000">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_kw7tt1KRnNwZB9aP0NTUoH7E8BjjQ9WWUAoOXF3YNo8dW6we"
                class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-interval="1000">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzqj1UGdNu7iyyGppXJ8_omw7VagdRtEWBwq-7poG_uDoDS2DwMA"
                class="d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- end caroursel  -->